# Firebase Realtime Database Configuration
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyCOSTgPjx1FYkh7--QMrXAWgqsc-4GWeCY"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="ipl-auction-app-dc137.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_DATABASE_URL="https://ipl-auction-app-dc137-default-rtdb.firebaseio.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="ipl-auction-app-dc137"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="ipl-auction-app-dc137.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="701747595838"
NEXT_PUBLIC_FIREBASE_APP_ID="1:701747595838:web:6384945d454c29cb565f6f"

# Optional Live Scores API Key
CRICKETDATA_API_KEY="1bbf1ac8-a42e-4ef5-9e5a-0b49f0d88de3"
